[Desktop Entry]
Encoding=UTF-8
Name=Bash
Comment=Bash P2P Cryptocurrency
Comment[fr]=Bash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bash, eşten eşe kriptografik sanal para birimi
Exec=bash-qt %u
Terminal=false
Type=Application
Icon=bash128
MimeType=x-scheme-handler/bash;
Categories=Office;Finance;
