[Unit]
Description=Bash's distributed currency daemon
After=network.target

[Service]
User=bashcore
Group=bashcore

Type=forking
PIDFile=/var/lib/bashd/bashd.pid
ExecStart=/usr/bin/bashd -daemon -pid=/var/lib/bashd/bashd.pid \
-conf=/etc/bashcore/bash.conf -datadir=/var/lib/bashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
